$colorMain: #70C8B9;
$colorMainDark: #0A3633;
$colorMainLight: #E5FFF9;
$colorLight: #C0C0C0;
$colorDark: #444;

$xsMax: 375px;
$mobileMin: 376px;
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 991px;
$desktopMin: 992px;

/*--------*/
/* Mixins */
/*--------*/
@mixin displayFlex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }
  
  @mixin displayInlineFlex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  @mixin flexColumn {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
  }
  
  @mixin flexRow {
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
  }

  @mixin flexRowReverse {
    flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
  }
  
  @mixin flexFlex($grow, $shrink, $width) {
    flex: $grow $shrink $width;
    -ms-flex: $grow $shrink $width;
    -webkit-flex: $grow $shrink calc(#{$width} / 1);
  }
  
  @mixin flexOrder($order) {
    order: $order;
    -ms-flex-order: $order;
    -webkit-order: $order;
  }
  
  @mixin flexGrow($grow) {
    -webkit-box-flex: $grow;
    -ms-flex-positive: $grow;
    flex-grow: $grow;
  }
  
  @mixin flexShrink($shrink) {
    -ms-flex-negative: $shrink;
    flex-shrink: $shrink;
  }
  
  @mixin flexAlignStart {
    align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
  }
  
  @mixin flexAlignCenter {
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
  
  @mixin flexAlignEnd {
    align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
  }
  
  @mixin flexJustifyStart {
    justify-content: flex-start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
  }
  
  @mixin flexJustifyCenter {
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
  }
  
  @mixin flexJustifyEnd {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
  }
  
  @mixin flexJustifyBetween {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
  }
  
  @mixin flexJustifyAround {
    justify-content: space-around;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
  }
  
  @mixin flexNowrap {
    flex-wrap: nowrap;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
  }
  
  @mixin flexWrap {
    flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  
  @mixin wordBreak {
    word-break: break-word;
  
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      word-break: break-all;
    }
  }

/*-----------------------------*/
/*     Bootstrap overrides     */
/*-----------------------------*/
.container {
    @media (max-width: $mobileMax) {
        padding-left: 10px;
        padding-right: 10px;
    }

    // @media (max-width: $xsMax) {
    //     padding-left: 5px;
    //     padding-right: 5px;
    // }
}

.row {
    @media (max-width: $mobileMax) {
        margin-left: -10px;
        margin-right: -10px;
    }

    // @media (max-width: $xsMax) {
    //     margin-left: -5px;
    //     margin-right: -5px;
    // }
}

.col {
    @media (max-width: $mobileMax) {
        padding-left: 10px;
        padding-right: 10px;
    }

    // @media (max-width: $xsMax) {
    //     padding-left: 5px;
    //     padding-right: 5px;
    // }
}

/*-----------------*/
/*     General     */
/*-----------------*/
html {
    overflow-x: hidden; 
    font-size: 20px;

    &.modal-active {
        overflow: hidden;
        position: relative;
    }
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: $colorMainLight;
}

section {
    padding-left: 45px;
    // padding-right: 45px;
    margin-bottom: 120px;

    @media (max-width: $tabletMax) {
        margin-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: $mobileMax) {
        // padding-left: 25px;
        padding-right: 0;
    }

    @media (max-width: $xsMax) {
        padding-left: 0;
    }
}

ul {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
        position: relative;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        line-height: 1.2;
        margin-bottom: 10px;

        @media (max-width: $mobileMax) {
            font-size: 14px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.bullet-list {
        padding-left: 5px;

        li {
            padding-left: 15px;

            &:before {
                content: '•';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

a {
    i {
        color: $colorDark;
    }

    &:hover {
        i {
            color: $colorMain;
        }
    }
}

form {
    .row {
        margin-left: -5px;
        margin-right: -5px;

        .col {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
        }
    }
}

label {
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    border: 1px solid $colorLight;
    outline: none;
    font-size: 14px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1;
    padding: 10px;

    &:focus {
        border: 1px solid $colorMain;
    }
}

/*-----------------*/
/*   Typography    */
/*-----------------*/
h1, h2, h3, h4, h5, h6, p {
    color: $colorDark;

    &.light {
        color: #FFF !important; 
    }

    &.pale {
        color: #888;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1, h2, h3 {
    position: relative;
    padding-left: 12px;
    margin-bottom: 30px;

    @media (max-width: $mobileMax) {
        margin-bottom: 15px;
        padding-left: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 4px;
        height: calc(100% - 11px);
        background: $colorMain;

        @media (max-width: $mobileMax) {
            top: 4px;
            height: calc(100% - 7px);
        }
    }
}

h1, h2, h3, h4 {
    line-height: 1;
}

h5, h6 {
    line-height: 1.2;
}

h1 {
    font-size: 42px;

    @media (max-width: $tabletMax) {
        font-size: 30px;
    }

    @media (max-width: $mobileMax) {
        font-size: 24px;
    }
}

h2 {
    font-size: 36px;

    @media (max-width: $tabletMax) {
        font-size: 24px;
    }

    @media (max-width: $mobileMax) {
        font-size: 20px;
    }
}

h3 {
    font-size: 32px;

    @media (max-width: $tabletMax) {
        font-size: 20px;
    }

    @media (max-width: $mobileMax) {
        font-size: 18px;
    }

    &:before {
        height: calc(100% - 9px);

        @media (max-width: $tabletMax) {
            top: 3px;
            height: calc(100% - 5px);
        }

        @media (max-width: $mobileMax) {
            top: 2px;
            height: calc(100% - 4px);
        }
    }
}

h4 {
    font-size: 24px;

    @media (max-width: $tabletMax) {
        font-size: 18px;
    }

    @media (max-width: $mobileMax) {
        font-size: 16px;
    }
}

h5 {
    font-size: 18px;

    @media (max-width: $tabletMax) {
        font-size: 16px;
    }

    @media (max-width: $mobileMax) {
        font-size: 14px;
    }
}

h6 {
    font-size: 14px;
    text-transform: uppercase;

    @media (max-width: $tabletMax) {
        font-size: 14px;
    }

    @media (max-width: $mobileMax) {
        font-size: 12px;
    }
}

p {
    font-size: 14px;

    @media (max-width: $mobileMax) {
        font-size: 12px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &.large {
        font-size: 18px;
        line-height: 2;
        font-weight: 300;
        color: #000;

        @media (max-width: $tabletMax) {
            font-size: 16px;
        }

        @media (max-width: $mobileMax) {
            font-size: 14px;
        }
    }

    a {
        color: $colorMain;
        text-decoration: underline;
    }
    
    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

/*------------------------*/
/*    Custom Components   */
/*------------------------*/
.button {
    padding: 9px 11px;
    border: 1px solid $colorMain;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background: $colorMain;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;

    @media (max-width: $mobileMax) {
        font-size: 12px;
        margin-top: 15px;
    }

    &:hover {
        transform: translate(1px, -1px);
        -webkit-transform: translate(1px, -1px);
        -moz-transform: translate(1px, -1px);
        -ms-transform: translate(1px, -1px);
        -o-transform: translate(1px, -1px);
        -webkit-box-shadow: -1px 1px 5px 0px rgba(#000, 0.5);
        -moz-box-shadow: -1px 1px 5px 0px rgba(#000, 0.5);
        box-shadow: -1px 1px 5px 0px rgba(#000, 0.5);
    }
}

.block-text-image {
    margin-bottom: 120px;

    @media (max-width: $mobileMax) {
        @include flexColumn();
        margin-bottom: 30px;
    }

    .col-text {
        @include displayFlex();
        @include flexColumn();
        @include flexAlignStart();
        @include flexJustifyCenter();
        padding-top: 30px;
        padding-bottom: 30px;

        @media (max-width: $tabletMax) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (max-width: $mobileMax) {
            padding-bottom: 30px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .col-image {
        @include displayFlex();
        @include flexAlignCenter();
        overflow: hidden;

        > div {
            width: 100%;
            height: 100%;
            min-height: 300px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: 575px) {
                min-height: 60vw;
            }
        }
    }

    &.reverse {
        @include flexRowReverse();
    }

    &.image-cover {
        .col-image {
            > div {
                background-size: cover;
            }
        }
    }
}

.block-cards {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 0;
        padding: 0 15px;
        
        @media (max-width: $tabletMax) {
            padding-bottom: 30px;
        }

        @media (max-width: $mobileMax) {
            padding: 0 10px 20px;
        }

        @media (max-width: $xsMax) {
            padding: 0 5px 10px;
        }

        .card-image {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center bottom;

            @media (max-width: $mobileMax) {
                width: 60px;
                height: 60px;
            }
        }

        p {
            font-weight: 700;
        }
    }
}

.block-fullwidth-bg {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: $tabletMax) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: $mobileMax) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bg-element {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: -15px;
        overflow: hidden;
        max-width: none;
        width: 104vw;
        height: 100%;
        padding: 0;
        margin: 0 calc(-52vw + 50%);
        clip: rect(0, auto, auto, 0);

        @media (max-width: $xsMax) {
            left: -5px;
        }

        div {
            position: fixed;
            //top: 50%;
            //left: 50%;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            //transform: translate(-50%, -50%);
            //-webkit-transform: translate(-50%, -50%);
            //-moz-transform: translate(-50%, -50%);
            //-ms-transform: translate(-50%, -50%);
            //-o-transform: translate(-50%, -50%);
            filter: blur(2px);
            -webkit-filter: blur(2px);
        }

        .overlay {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, $colorMainDark 0%, rgba($colorMainDark, 0) 85%), 
                        linear-gradient(0deg, $colorMainDark 0%, rgba($colorMainDark, 0) 85%);
            background-blend-mode: multiply;
        }
    }

    .col {
        position: relative;
        z-index: 1;

        * {
            color: #fff;
        }
    }
}

.block-bordered {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    &:before,
    &:after {
        content: '';
        width: calc(100% - 30px);
        height: 2px;
        background-color: $colorLight;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.form-modal-container {
    @include displayFlex;
    @include flexAlignCenter;
    @include flexJustifyCenter;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9997;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;

    .background-overlay {
        width: 100%;
        height: 100%;
        background-color: $colorMainDark;
        opacity: 0;
        position: fixed;
        z-index: 9998;
        transition: all 300ms ease-in-out;
    }

    .form-modal {
        position: relative;
        background-color: #fff;
        padding: 30px 20px;
        width: 300px;
        z-index: 9999;
        transform: translateY(100vh);
        transition: all 600ms ease-in-out;

        .close-button {
            position: absolute;
            top: 0;
            right: -50px;
            width: 40px;
            height: 40px;
            cursor: pointer;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 20px;
                height: 4px;
                position: absolute;
                top: 17px;
                left: 10px;
                background: #fff;
                transform-origin: center center;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }
    }

    &.active {
        pointer-events: initial;

        .background-overlay {
            opacity: 0.8;
        }

        .form-modal {
            transform: translateY(0);
        }
    }
}

.fadein-item {
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    transition: 1000ms cubic-bezier(.5,0,.5,1);
    -webkit-transition: 1000ms cubic-bezier(.5,0,.5,1);
    -moz-transition: 1000ms cubic-bezier(.5,0,.5,1);
    -ms-transition: 1000ms cubic-bezier(.5,0,.5,1);
    -o-transition: 1000ms cubic-bezier(.5,0,.5,1);
    opacity: 0;

    &.animated {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

.parallax-item {
    -webkit-transition: transform 10ms linear;
    -moz-transition: transform 10ms linear;
    -o-transition: transform 10ms linear;
    transition: transform 10ms linear;
}

/*------------------------*/
/*     Custom Sections    */
/*------------------------*/
.wrapper {
    width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    transition: all 0ms ease;

    .container {
        padding-left: 15px;

        @media (max-width: $mobileMax) {
            padding-left: 10px;
        }

        // @media (max-width: $xsMax) {
        //     padding-left: 5px;
        // }
    }

    .logo {
        overflow: hidden;
        transition: all 500ms cubic-bezier(0,.7,.4,1);
        -webkit-transition: all 500ms cubic-bezier(0,.7,.4,1);
        -moz-transition: all 500ms cubic-bezier(0,.7,.4,1);
        -ms-transition: all 500ms cubic-bezier(0,.7,.4,1);
        -o-transition: all 500ms cubic-bezier(0,.7,.4,1);
        width: 130px;
        padding: 10px 0;

        @media (max-width: $tabletMax) {
            position: relative;
        }

        .logo-mobile {
            display: none;

            @media (max-width: $tabletMax) {
                position: absolute;
                left: 0;
                top: 0;
                width: 32px;
                display: block;
                transform: translateY(-100px);
                -webkit-transform: translateY(-100px);
                -moz-transform: translateY(-100px);
                -ms-transform: translateY(-100px);
                -o-transform: translateY(-100px);
                transition: all 500ms cubic-bezier(0,.7,.4,1);
                -webkit-transition: all 500ms cubic-bezier(0,.7,.4,1);
                -moz-transition: all 500ms cubic-bezier(0,.7,.4,1);
                -ms-transition: all 500ms cubic-bezier(0,.7,.4,1);
                -o-transition: all 500ms cubic-bezier(0,.7,.4,1);

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 9997;
                    width: 58px;
                    height: 58px;
                    background-color: #fff;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    box-shadow: 0 2px 4px rgba(#000, 0.2);
                }

                img {
                    height: 30px;
                    position: relative;
                    z-index: 9998;
                }
            }
        }
        
        &.logo-only {
            @media (min-width: $desktopMin) {
                width: 35px;
            }

            @media (max-width: $tabletMax) {
                .logo-mobile {
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);
                    transition-delay: 500ms;
                }

                > img {
                    opacity: 0;
                }
            }

            @media (max-width: $mobileMax) {
                // width: 22px;
            }

            @media (max-width: $xsMax) {
                width: 0px;
            }

            > img {
                @media (min-width: $desktopMin) {
                    height: 30px;
                }

                @media (max-width: $mobileMax) {
                    // height: 20px;
                }

                @media (max-width: $xsMax) {
                    // height: 15px;
                    // margin-left: 0;
                }
            }
        }

        > img {
            height: 40px;
            transition: all 500ms cubic-bezier(0,.7,.4,1);
            -webkit-transition: all 500ms cubic-bezier(0,.7,.4,1);
            -moz-transition: all 500ms cubic-bezier(0,.7,.4,1);
            -ms-transition: all 500ms cubic-bezier(0,.7,.4,1);
            -o-transition: all 500ms cubic-bezier(0,.7,.4,1);

            @media (max-width: $mobileMax) {
                height: 30px;
            }

            @media (max-width: $xsMax) {
                // margin-left: 5px;
            }
        }
    }

    .scroll-progress-bar-outer {
        display: none; // temp
        position: absolute;
        top: 60px;
        height: calc(100vh - 100px);
        margin-left: 14px;
        opacity: 0;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        pointer-events: none;

        .scroll-progress-bar {
            background: $colorLight;
            width: 4px;
            height: 100%;

            .scroll-progress-bar-fill {
                background: $colorMain;
                width: 100%;
                transition: all 200ms linear;
                -webkit-transition: all 200ms linear;
                -moz-transition: all 200ms linear;
                -ms-transition: all 200ms linear;
                -o-transition: all 200ms linear;
            }
        }

        .scroll-progress-dot {
            position: absolute;
            width: 12px;
            height: 12px;
            background: $colorLight;
            border-radius: 6px;
            left: -4px;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;

            &.active {
                background: $colorMain;
                transform: scale(1.25);
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
            }
        }
    }

    &.past-hero {
        .scroll-progress-bar-outer {
            opacity: 1;
            pointer-events: initial;
        }
    }
}

footer {
    padding: 120px 0;
    background-color: $colorLight;

    @media (max-width: $mobileMax) {
        padding: 80px;
    }

    @media (max-width: $mobileMax) {
        padding: 40px 0;
        text-align: center;

        .col {
            margin-bottom: 10px;
        }
    }

    .socials {
        i {
            position: relative;
            top: 2px;
            margin-left: 5px;
            font-size: 18px;
        }
    }

    .rights {
        @media (min-width: $tabletMin) {
            text-align: right;
        }
    }
}

.loading-screen {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;

    &.loading-done {
        transition: opacity 1000ms ease-out;
        -webkit-transition: opacity 1000ms ease-out;
        -moz-transition: opacity 1000ms ease-out;
        -ms-transition: opacity 1000ms ease-out;
        -o-transition: opacity 1000ms ease-out;
        opacity: 0;
        pointer-events: none;
    }

    .spinner {
        width: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        img {
            @keyframes spin {
                0% {
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                }

                50% {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }

                100% {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }

            @-webkit-keyframes spin {
                0% {
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }
            -webkit-animation: spin 1500ms 0s infinite linear;
            animation: spin 1500ms 0s infinite linear;
        }
    }
}

.hero-section {
    position: relative;
    height: 100vh;
    padding: 120px 0;
    overflow: hidden;

    @media (max-width: $tabletMax) {
        padding: 60px 0;
    }

    @media (max-width: $mobileMax) {
        padding: 30px 0;
    }

    .spinner {
        width: 90vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        pointer-events: none;

        img {
            filter: blur(6px);
            -webkit-filter: blur(6px);

            @keyframes spin {
                0% {
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                }

                50% {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
    
                100% {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }
    
            @-webkit-keyframes spin {
                0% {
                    transform: rotate(0);
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                }
    
                100% {
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }
            -webkit-animation: spin 80s 0s infinite linear;
            animation: spin 80s 0s infinite linear;
        }
    }

    .hero-image {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        pointer-events: none;

        img {
            filter: blur(2px);  
            -webkit-filter: blur(2px);
            max-width: 100%;
            max-height: 100%;
        }
    }

    .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $colorMainDark 0%, rgba($colorMainDark,0) 33%), 
                    linear-gradient(0deg, $colorMainDark 0%, rgba($colorMainDark,0) 50%);

        @media (max-width: $mobileMax) {
            background: linear-gradient(180deg, $colorMainDark 0%, rgba($colorMainDark,0) 33%), 
                        linear-gradient(0deg, $colorMainDark 0%, rgba($colorMainDark,0) 80%);
        }
    }

    section {
        margin-bottom: 0;
    }

    h4,
    .button-wrapper {
        @media (max-width: $mobileMax) {
            text-align: center;
        }
    }
}

.content-section {
    position: relative;
    padding: 120px 0;
    background: #FFF;
}

.placeholder-image {
    min-height: 300px;
    background: $colorMainDark;
}